@tailwind base;
/* * {
  box-sizing: border-box;
  text-decoration: none;
} */

/* Variables */
:root {
  --lab-neon: #E4FF00;
  --lab-black: #1E1F20;
  --white: #fff;
  --black: #000;
  --nav-bar-height: 54px;
  --nav-bar-height-negative: -54px;
  --footer-height: 69px;
  --footer-height-mobile: 166px
}


body {
  color: var(--lab-black);
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  min-height: 100svh;
}

