@import "@/styles/variables.module.scss";

.container {
  position: relative;
  min-height: calc(100svh - var(--nav-bar-height));
  width: 100%;

  .backgroundFade {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.75) 18.2%,
      rgba(0, 0, 0, 0.65) 29.13%,
      rgba(0, 0, 0, 0) 54.61%
    );

    .image {
      z-index: -10;
      object-fit: cover;
    }
  }
}

.featureText {
  @include flexCol;
  @include flexCenter;
  @include pageContainer;
  position: relative;
  z-index: 10;
  padding-top: 29px;
  color: var(--white);
  gap: 20px;

  @include tablet {
    padding-top: 48px;
  }

  .heading {
    line-height: 57.5px;
    font-size: 2.5rem;
    font-weight: 400;
  }

  .subtitle {
    font-weight: 400;
    text-align: center;
  }

  .buttonContainer {
    width: fit-content;
  }
}
