.footer {
  display: flex;
  height: var(--footer-height);
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding-inline: 80px;

  background-color: var(--lab-black);
  color: var(--white);

  .links {
    .link {
      padding-inline: 20px;
    }

    .link + .link {
      border-left: 1px solid #fff;
    }

    .link:first-child {
      padding-left: 0;
    }

    .link:last-child {
      padding-right: 0;
    }
  }
}
