@import "@/styles/variables.module.scss";

.footer {
  @include pageContainer;
  display: grid;
  grid-template-areas:
    "copyright copyright"
    "accred social"
    "privacy privacy";
  height: var(--footer-height-mobile);
  min-height: var(--footer-height-mobile);
  width: 100%;
  justify-content: start;
  align-items: center;
  font-weight: 300;
  font-size: 0.75rem;
  background-color: var(--lab-black);
  color: var(--white);
  gap: 0 40px;

  @include tablet {
    grid-template-areas:
      "copyright privacy"
      "accred social";
    gap: 0 40px;
    height: var(--footer-height-tablet);
    min-height: var(--footer-height-tablet);
  }

  @include desktop {
    justify-content: space-between;
    display: flex;
    min-height: var(--footer-height);
    height: var(--footer-height);
    gap: 0;
  }

  .item {
    width: 100%;

    @include desktop {
      width: unset;
    }
  }

  .accreditation {
    display: flex;
    align-items: center;
    gap: 10px;
    grid-row: 3/4;
    grid-area: accred;

    .image {
      width: 81px;
      @include desktop {
        width: 95px;
      }
    }
  }

  .social {
    display: flex;
    align-items: center;
    gap: 10px;
    grid-area: social;
  }

  .links {
    grid-row: 2/3;
    grid-area: privacy;

    .link {
      padding-inline: 20px;
    }

    .link + .link {
      border-left: 1px solid #fff;
    }

    .link:first-child {
      padding-left: 0;
    }

    .link:last-child {
      padding-right: 0;
    }

    .link:hover {
      color: var(--lab-neon);
      text-decoration: underline;
    }
  }
}
