@import "@/styles/variables.module.scss";

.footer {
  @include pageContainer;
  display: grid;
  grid-template-columns: 1fr;
  height: var(--footer-height-mobile);
  min-height: var(--footer-height-mobile);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  font-size: 0.75rem;
  background-color: var(--lab-black);
  color: var(--white);

  @include desktop {
    display: flex;
    min-height: var(--footer-height);
    height: var(--footer-height);
  }

  .item {
    width: 100%;

    @include desktop {
      width: unset;
    }
  }

  .accreditation {
    display: flex;
    align-items: center;
    gap: 10px;
    grid-row: 3/4;
  }

  .social {
    display: none;

    @include desktop {
      display: block;
    }
  }

  .links {
    grid-row: 2/3;

    .link {
      padding-inline: 20px;
    }

    .link + .link {
      border-left: 1px solid #fff;
    }

    .link:first-child {
      padding-left: 0;
    }

    .link:last-child {
      padding-right: 0;
    }
  }
}
