@import "@/styles/variables.module.scss";

.container {
  @include flexCol;
  @include flexCenter;

  .text {
    @include pageContainer;

    p,
    li {
      @include lab-body;
    }

    h3 {
      @include lab-h3;
      margin-top: 36px;
    }

    h4 {
      @include lab-h4;
      font-weight: 700;
      margin-top: 36px;
    }

    h5 {
      font-weight: 600;
      margin-top: 36px;
    }
  }
}
