.outerContainer {
  height: 50px;
  width: 150px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.text {
  z-index: 10;
  transition: 0.3s;
}

.innerContainer {
  position: absolute;
  background-color: var(--lab-neon);
  transition: 0.3s ease-out;
  height: 155px;
  width: 155px;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0);
}

.outerContainer:hover {
  border: 1px solid #000 !important;
}

.outerContainer:hover .text {
  color: #000 !important; // ain't happy about this
}

.outerContainer:hover .innerContainer {
  opacity: 1;
  transform: scale(1);
}
