@import "@/styles/variables.module.scss";

.outerContainer {
  display: flex;
  height: 50px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s ease-out;
  padding-left: 24px;
  padding-right: 24px;

  .text {
    display: flex;
    z-index: 10;
    transition: 0.3s;
  }

  .innerContainer {
    position: absolute;
    background-color: var(--lab-neon);
    transition: 0.3s ease-out;

    // keep the animation as a uniform circle
    height: auto;
    width: 120%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
  }
}

.black {
  color: var(--white);
  border-color: var(--black);
  background-color: var(--black);
}

.yellow {
  color: var(--black);
  border-color: var(--black);
  background-color: var(--lab-neon);
}

.yellow-line {
  color: var(--lab-neon);
  border-color: var(--lab-neon);
  background-color: transparent;
}

.white {
  color: var(--white);
  border-color: var(--white);
  background-color: transparent;
}

.clear {
  color: var(--black);
  border-color: var(--black);
  background-color: transparent;
}

.white-fill {
  color: var(--black);
  border-color: var(--black);
  background-color: var(--white);
}

.outerContainer:hover {
  border: 1px solid #000000;
}

.outerContainer:hover .text {
  color: #000000;
}

.outerContainer:hover .innerContainer {
  opacity: 1;
  transform: scale(1);
}
