@import "@/styles/variables.module.scss";

.workList {
  @include flexCol;
  @include pageContainer;

  position: relative;
  background-color: var(--lab-black);
  display: flex;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 8% 8% 1fr;
  }
}
