@import "@/styles/variables.module.scss";

.outerContainer {
  @include scrollSnapContainer;
  width: 100%;
}

.container {
  position: relative;
  height: calc(100svh - var(--nav-bar-height));

  .backgroundFade {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.75) 18.2%,
      rgba(0, 0, 0, 0.65) 29.13%,
      rgba(0, 0, 0, 0) 54.61%
    );

    .image {
      z-index: -10;
      object-fit: cover;
    }
  }
}

.featureText {
  @include flexCol;
  @include flexCenter;
  @include pageContainer;

  position: fixed;
  top: 0;
  z-index: 10;
  left: 0;
  right: 0;
  margin: var(--nav-bar-height) auto;

  gap: 20px;
  padding-top: 29px;

  @include tablet {
    padding-top: 48px;
  }

  .heading {
    line-height: 57.5px;
    font-size: 2.5rem;
    color: var(--white);
    font-weight: 400;
  }

  .subtitle {
    color: var(--white);
    font-weight: 400;
    text-align: center;
  }

  .buttonContainer {
    width: 165px;
  }
}
