@import "@/styles/variables.module.scss";

.body {
  @include flexCol;
  position: relative;
  min-height: 100vh;

  .outerContainer {
    @include flexCol;
    @include flexCenter;
    flex: auto;
  }
}

.container {
  @include flexCol;
  align-items: center;
  justify-content: space-between;

  .hero {
    @include flexCenter;
    @include pageContainer;
    position: relative;
    height: calc(100vh - var(--nav-bar-height));
    overflow: hidden;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }

    .textContainer {
      @include flexCol;

      padding-right: 0;
      justify-content: center;
      width: 40%;

      .text {
        @include lab-h1;

        padding-bottom: 40px;
      }
    }

    .image {
      height: 100%;
      width: 60%;
      right: 0;
      object-fit: contain;
      z-index: -10;
    }
  }

  .lastContainer {
    height: calc(100vh - var(--nav-bar-height) - var(--footer-height));
  }
}
