@import "@/styles/variables.module.scss";

.clientLogos {
  @include pageContainer;
  @include flexCol;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 0;

  @include desktop {
    flex-direction: row;
    padding-bottom: 73px;
  }

  .leftHand {
    @include flexCol;
    background-color: var(--lab-neon);
    padding: 20px 23px;
    justify-content: center;
    width: 100%;
    gap: 20px;

    @include desktop {
      padding: 0 50px;
      width: 45%;
      gap: 50px;
    }

    .leftText {
      @include lab-h3;
      width: 85%;
      font-size: 1.5rem;
      line-height: 2.5rem;

      @include desktop {
        width: 100%;
        font-size: 3.4375rem;
        line-height: 65px;
      }
    }

    .buttonContainer {
      width: fit-content;
    }
  }

  .rightHand {
    @include flexCol;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    height: 320px;
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 0;
    flex: 1;

    @include desktop {
      width: 50%;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 90px;
    }
  }
}
