@import "@/styles/variables.module.scss";

.outerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  width: 57px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.9);
  background-color: var(--white);
  overflow: hidden;
  cursor: pointer;
  z-index: 0;

  .line {
    z-index: 10;
    transition: 0.3s;
    stroke: var(--black);
  }

  .innerContainer {
    position: absolute;
    height: 57px;
    width: 57px;
    background-color: var(--lab-neon);
    transition: 0.3s ease-out;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    z-index: -10;
  }
}

.outerContainer:hover .line {
  stroke: var(--black);
}

.outerContainer:hover .innerContainer {
  opacity: 1;
  transform: scale(1);
}
