@import "@/styles/variables.module.scss";

.imageContainer {
  position: relative;
  width: 100%;

  .image {
    right: 0;
    object-fit: cover;
    z-index: -10;
    width: 100%;

    @include tablet {
      object-fit: contain;
    }
  }
}

.featureBlockContainer {
  margin-top: 60px;
}
