@import "@/styles/variables.module.scss";

.container {
  @include pageContainer;
  color: var(--black);
  font-weight: 300;
  line-height: 32px;
  align-self: start;
  padding-bottom: 60px;

  a {
    text-decoration: underline;
  }

  p {
    width: 100%;
    margin-bottom: 1rem;

    @include tablet {
      padding-right: 0;
      width: 59%;
    }
  }

  &.black {
    padding-top: 20px;
    color: var(--white);
    background-color: var(--lab-black);

    @include tablet {
      padding-top: 60px;
    }
  }
}
